.game-wrap
  width: 100vw
  height: 100vh
  background-position: center center
  background-image: url(https://images.pexels.com/photos/399187/pexels-photo-399187.jpeg?cs=srgb&dl=evening-field-football-field-399187.jpg&fm=jpg)
  .score-wrap
    color: #fff
    .score-label
      font-size: 50px
      font-weight: bold
    .score-text
      font-size: 35px
  .start-btn
    position: fixed
    top: 50%
    left: 50%
    width: 150px
    height: 50px
    transform: translate(-50%, -50%)
    border-radius: 30px
    font-size: 20px
    text-transform: uppercase
    font-weight: bold
    color: #fff
    background: transparent
    cursor: pointer
    &:hover
      background: #ffffff
      color: #000

